@import 'mixins.scss';

.sd {
  &-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.ios {
      @include ios;
    }
    &.material {
      @include material;
    }
  }
  &-container {
    width: 15%;
    background-color: #fff;
    border: 0;
    border-radius: 0.25rem;
  }
  &-body {
  }

  &-btn {
    cursor: pointer;
  }
}
